Package: libgrowl-dev
Version: 0.1.0
Section: libdevel
Priority: extra
Maintainer: fuyichin <fuyichin@gmail.com>
Architecture: i386
Description: libgrowl library
 library to send growl notification message
